<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SIPMS.My.MySettings.Sqlcon1" connectionString="Data Source=DESKTOP-08DDP07\SQLExpress;Initial Catalog=SIPMS;Integrated Security=True" />
    </connectionStrings>
</configuration>
